/* Card.module.css */

.card {
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .card:hover {
    background-color: #f5f5f5;
  }
  
  .username {
    margin-left: 12px;
    font-weight: bold;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden; /* Hide any content that exceeds the dimensions of the avatar */
  }
  
  .avatar img {
    width: 100%; /* Ensure the image fills the avatar container */
    height: 100%; /* Ensure the image fills the avatar container */
    object-fit: cover; /* Scale the image while maintaining aspect ratio */
  }
  